:root{
  /* *Primary */
  --lightRed: hsl(0, 100%, 67%);
  --lightRedBack: hsl(0, 100%, 67%, 10%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --orangeyYellowBack: hsl(39, 100%, 56%, 10%);
 --greenTeal: hsl(166, 100%, 37%);
 --greenTealBack: hsl(166, 100%, 37%, 10%);
  --cobaltBlue: hsl(234, 85%, 45%);
  --cobaltBlueBack: hsl(234, 85%, 45%, 10%);

  /* *Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* *Font */
  --family-font: 'Hanken Grotesk';

  /* *Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);


  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue : hsla(241, 72%, 46%, 0);
}

@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

body{
  margin: 0;
  font-size: 18px;
  font-family: var(--family-font);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*, *::after, *::before{
  margin: 0;
  box-sizing: border-box;
}
.content{
    
 
  display: grid;
  grid-template-columns: minmax(150px, 350px) minmax(150px, 350px) ;
   background-color: var(--white);
  max-height: 500px;
  box-shadow: rgba(33, 35, 38, .3) 10px 10px 30px -10px;
  border-radius: 40px;
 
 }
.content-result{
  min-height: 40vh;
 background: linear-gradient(
    to top,
    var(--light-royal-blue),
    var(--light-slate-blue)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10% 10% 10% 10%;
}
  
  .result-point{
    background: linear-gradient(
      to top,
      var(--persian-blue),
      var(--violet-blue)
    );
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-lavender);
  }
  .result-title{
    padding: 20px;
    font-family: var(--family-font);
    color: var(--light-lavender);
   /* border: 2px solid burlywood; */
  }
  

  .result-point > strong{
    font-size: 50px;
    color: var(--pale-blue);
  }
  .result-point > p {
    font-size: 15px;
    color: rgba(249, 249, 249, 0.486);
  }
  .result-great{
    padding: 10px;
    width: 80%;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    /*  border: 2px solid burlywood; */
  }
  .result-great > h2{
    color: var(--pale-blue);
    font-weight: 800;
    padding: 10px;
  }
  .result-great > p{
    font-size: 16px;
    color: var(--light-lavender);
  }
@media (max-width:375px) {
  body{
    display: block;
    position: relative;
  }

  .content{
   display: block;
    background-color: var(--white);
    box-shadow: none;
    border: none
  }
  .content-result{
    min-height: 40vh;
   background: linear-gradient(
      to top,
      var(--light-royal-blue),
      var(--light-slate-blue)
    );

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    border-radius: 0% 0% 10% 10%;

  }
  .content-sumary{

    display: block;
    padding-bottom: 20px;
  }
  .result-point{
   
    width: 120px;
    height: 120px;

}

.attribution{
  display: none;
  bottom: 0px;
}
}

/* .attribution a { color: hsl(228, 45%, 44%); }
} */
.content-sumary{
  display: grid;
  padding: 20px;
  gap: 1rem;
  
}
.content-sumary > h2{
  font-size: 19px;
 font-weight: 800;
  color: rgba(0, 0, 0)
}

.content-sumary > div{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 800;
  border-radius: 10px;
}
.content-sumary > div > strong {
  color: black;
  display: inline;
}
.content-sumary > div > strong > p{
  display: inline;
  color: rgb(0, 0, 0, .6);
}
.content-sumary > div:nth-child(2){
  
  background-color: var(--lightRedBack);
  
  color: var(--lightRed);
}
.content-sumary > div:nth-child(3){
  
  background-color: var(--orangeyYellowBack);
  
  color: var(--orangeyYellow);
}
.content-sumary > div:nth-child(4){
  
  background-color: var(--greenTealBack);
  
  color: var(--greenTeal);
}
.content-sumary > div:nth-child(5){
  
  background-color: var(--cobaltBlueBack);
  
  color: var(--cobaltBlue);
}

button {
  display: block;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--pale-blue);
  background-color: var(--dark-gray-blue);
  font-weight: 600;
  font-size: medium;
  border-radius: 40px;
}

.attribution{
  position: absolute;
  bottom: 10px;
}